<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>SR03</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>login_form</servlet-name>
    <servlet-class>login_form</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>admin</servlet-name>
    <servlet-class>admin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>stagiaire</servlet-name>
    <servlet-class>stagiaire</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreationCompte</servlet-name>
    <servlet-class>CreationCompte</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModificationCompte</servlet-name>
    <servlet-class>ModificationCompte</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModificationCompte2</servlet-name>
    <servlet-class>ModificationCompte2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SuppressionCompte</servlet-name>
    <servlet-class>SuppressionCompte</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreationQuestionnaire</servlet-name>
    <servlet-class>CreationQuestionnaire</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModificationQuestionnaire</servlet-name>
    <servlet-class>ModificationQuestionnaire</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModificationQuestionnaire2</servlet-name>
    <servlet-class>ModificationQuestionnaire2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListeCompte</servlet-name>
    <servlet-class>ListeCompte</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListeQuestionnaire</servlet-name>
    <servlet-class>ListeQuestionnaire</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>ListeQuestion</servlet-name>
    <servlet-class>ListeQuestion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListePossibilite</servlet-name>
    <servlet-class>ListePossibilite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login_form</servlet-name>
    <url-pattern>/login_form</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>admin</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>stagiaire</servlet-name>
    <url-pattern>/stagiaire</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreationCompte</servlet-name>
    <url-pattern>/CreationCompte</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModificationCompte</servlet-name>
    <url-pattern>/ModificationCompte</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModificationCompte2</servlet-name>
    <url-pattern>/ModificationCompte2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SuppressionCompte</servlet-name>
    <url-pattern>/SuppressionCompte</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreationQuestionnaire</servlet-name>
    <url-pattern>/CreationQuestionnaire</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModificationQuestionnaire</servlet-name>
    <url-pattern>/ModificationQuestionnaire</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModificationQuestionnaire2</servlet-name>
    <url-pattern>/ModificationQuestionnaire2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListeCompte</servlet-name>
    <url-pattern>/ListeCompte</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListeQuestionnaire</servlet-name>
    <url-pattern>/ListeQuestionnaire</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>ListeQuestion</servlet-name>
    <url-pattern>/ListeQuestion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListePossibilite</servlet-name>
    <url-pattern>/ListePossibilite</url-pattern>
  </servlet-mapping>
</web-app>